@model IEnumerable<ShopTheThao.Areas.Admin.Models.CustumerModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Khách hàng</h2>
<div class="text-warning">
    @ViewBag.message
</div>
<hr />
<div>
    <div class="panel panel-default">
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <thead>
                        <tr>                      
                            <th>SĐT KH</th>
                            <th>Họ Tên KH</th>
                            <th>Email KH</th>
                            <th>Địa chỉ KH</th>                         
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.KHSdt)</td>
                                <td>@Html.DisplayFor(modelItem => item.KHHoTen)</td>
                                <td>@Html.DisplayFor(modelItem => item.KHEmail)</td>
                                <td>@Html.DisplayFor(modelItem => item.KHDiaChi)</td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>