@using ShopTheThao.Models;
@{
    ViewBag.Title = "SearchSanPham";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="content-top ">
    <div class="container ">
        <div class="spec ">
            <h3>Sản Phẩm Shop</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <h4>@ViewBag.message</h4>

        <div class="tab-head ">
            <div class=" tab-content tab-content-t ">
                <div class="tab-pane active text-style" id="tab1">
                    <div class=" con-w3l">
                        @{ int i = 0; }
                        @foreach (var item in Model)
                        {
                            i++;
                           // int newPrice = Int32.Parse(item.SPGiaBan) - ((Int32.Parse(item.SPGiaBan) * item.SPGIamGia.Value) / 100);
                            <div class="col-md-3 m-wthree" style="margin-bottom:30px;">
                                <div class="col-m">
                                    <a href="@Url.Action("DetailSanPham", "SanPham", new { @idSP = item.SPMa })" class="offer-img">
                                        <img style="height: 200px; width: 225px" src="@Url.Content("~/image/image_sp/" + @item.SPAnh)" width="100" height="150" alt="@item.SPAnh">
                                        <div class="offer"><p><span>Giảm @item.SPGIamGia %</span></p></div>
                                    </a>
                                    <div class="mid-1">
                                        <div class="women">
                                            @if (item.SPTen.Length > 20)
                                            {
                                                <h6><a href="@Url.Action("DetailSanPham", "SanPham", new { @idSP = item.SPMa })" data-toggle="tooltip" title="@item.SPTen">@item.SPTen.Substring(0, 19) . . .</a></h6>
                                            }
                                            else
                                            {
                                                <h6><a href="@Url.Action("DetailSanPham", "SanPham", new { @idSP = item.SPMa })">@item.SPTen</a></h6>
                                            }
                                        </div>
                                        (Size: @item.SPSize)
                                        <div class="mid-2">
                                            <p><em class="item_price">Price: <span style="color: red; font-weight: bold">@Html.FormatValue(item.SPGiaBan, "{0: #,###}")</span> VND</em></p>
                                            <div class="clearfix"></div>
                                            <div>
                                                <a href="#">@item.NhaSanXuat.NSXTen</a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="add">
                                            <a class="btn btn-success" href="@Url.Action("AddCarts", "GioHang", new { idSP = item.SPMa })"> <span class="glyphicon glyphicon-shopping-cart"></span>  Thêm vào giỏ </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            if (i % 4 == 0)
                            {
                                <div class="clearfix"></div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        @*<!--Hien thi phan trang-->
            <div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber )/ @Model.PageCount
            </div>

            <!--CREATE LINK FOR PAGE-->
            <div>
                @Html.PagedListPager(Model, page => Url.Action("ALLSanPham", "SanPham", new { page = page }))
            </div>*@
        <div class="clearfix"></div>
        <!--Giới thiệu-->
        <div class="row">
            <div>
                <div class="col-sm-4">
                    <h4>Phương thức thanh toán &amp; giao hàng</h4>
                    <div class="content">
                        <div class="toasang">
                            <img src="~/image/image_tl/icon_shipping.png" />
                        </div>
                        <p><strong class="bold">Miễn phí vận chuyển cho đơn hàng trên 1.000.000VNĐ</strong></p>
                        <ul style="font-size:large;">
                            <li class="fa fa-check-circle">
                                <a href="#" title="">
                                    Giao hàng và thu tiền tận nơi
                                </a>
                            </li>
                            <li class="fa fa-check-circle">
                                <a href="#" title="">Chuyển khoản và giao hàng</a>
                            </li>
                            <li class="fa fa-check-circle">
                                <a href="#" title="">Mua hàng tại shop</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4>Hỗ trợ 24/7</h4>
                    <div class="content">
                        <div class="toasang">
                            <img src="~/image/image_tl/icon_support.png" />
                        </div>
                        <p><strong>Gọi ngay cho chúng tôi khi bạn có thắc mắc</strong></p>
                        <ul style="font-size:xx-large;">
                            <li class="fa fa-check-circle">
                                <strong class="big npl">0375861407 </strong>
                            </li>
                            <li class="fa fa-check-circle">
                                <strong class="big npl">0375861407 </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4>Thẻ thành viên</h4>
                    <div class="content">
                        <div class="toasang">
                            <img src="~/image/image_tl/icon_card.png" />
                        </div>
                        <p><strong class="bold">Chế độ ưu đãi thành viên VIP:</strong></p>
                        <ul style="font-size:large;">
                            <li class="fa fa-check-circle">5% cho thành viên Bạc</li>
                            <li class="fa fa-check-circle">10% cho thành viên Vàng</li>
                            <li class="fa fa-check-circle">15% cho thành viên Kim cương</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .toasang {
        margin: 20px;
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        text-align: center;
        border-radius: 100%;
        font: 700 30px/80px 'arial';
        text-decoration: none;
        color: #313131;
        z-index: 1;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        /*-ms-transition: all .3s ease;*/
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

        .toasang:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 100%;
            background: #dfdfdf;
            z-index: -1;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            /*-ms-transition: all .3s ease;*/
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

        .toasang:hover {
            color: #fff;
            background: #399;
        }

            .toasang:hover:after {
                background: transparent;
                -webkit-transform: scale(1.6);
                -moz-transform: scale(1.6);
                -ms-transform: scale(1.6);
                -o-transform: scale(1.6);
                transform: scale(1.6);
            }
</style>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

